<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->
		<section>
			<br><br>
			<h2>Student Information</h2>
			<hr />
			<p>
				<b>Name:</b> Martha Rocio Rojas Martinez <br>
				<b>Student ID:</b> 112073218
			</p>


		</section>


		<!-- End your code here  -->



	</main>
</div>