<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->

		<body>

			<section>
				<br><br>
				<h2>Welcome</h2>
				<p>
					Welcome to my Web Programming Assignment website.
					I will be demonstrating javascript server side configurations
					using the express library along with path routing.
				</p>

				<h2>Reflection</h2>
				<p>
					During the WEB 322 course I have learned some of the javascript potential
					for use in the server side. How we can apply all the concepts from JavaScript that we learned
					in the past course to the configuration of a web server.
				</p>

				<h2>HTML 5</h2>
				<p>
					This site utilizes HTML5: a markup language used for structuring
					and presenting content on the World Wide Web. Right now is using exclusively HTML
					but in the future CSS design will be added to the website.
				</p>

			</section>

			<footer>
				<div>
					Martha Rocio Rojas Martinez<br>Student ID: 112073218
				</div>
			</footer>
		</body>


		<!-- End your code here  -->



	</main>
</div>